# GCP
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name
GCS_RAW_PREFIX=ecommerce/raw
GOOGLE_APPLICATION_CREDENTIALS=path/to/service_account.json

# BigQuery
BIGQUERY_DATASET=ecommerce_analytics
BIGQUERY_LOCATION=US

# Databricks
DATABRICKS_HOST=https://your-workspace.azuredatabricks.net
DATABRICKS_TOKEN=your-databricks-token
DATABRICKS_CLUSTER_ID=your-cluster-id

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=your-fernet-key

# API
FAKESTORE_API_BASE_URL=https://fakestoreapi.com
